.container {
    position: relative;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/655a9668-b002-4262-8afb-cf71e45d1956/5ff265b6-3037-44b2-b071-e81750b21783/IN-en-20240715-POP_SIGNUP_TWO_WEEKS-perspective_WEB_c6d6616f-4478-4ac2-bdac-f54b444771dd_small.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
  }
  
  .form {
    width: 300px; /* Adjust width as needed */
    padding: 20px; /* Adjust padding as needed */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 8px; /* Optional: for rounded corners */
  }
  
  img {
    display: none; /* Hide the image if using it as a background */
  }
  